@model MushroomgamesOrd.Ubicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ubicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_ubicacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_ubicacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
