@model MushroomgamesOrd.Juego

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Juego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_Juego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_Juego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_Juego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_Juego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_Juego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_Juego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tamanio_Juego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tamanio_Juego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.nombre_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre_Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desarrolladora.nombre_Desarrolladora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desarrolladora.nombre_Desarrolladora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
